body {
  font-family: "Roboto", sans-serif !important;
}

$theme-colors: (
  primary: #6f42c1,
);

/* World Banner */
#banner {
  background-image: url("../img/world.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

/* Footer Icons */
.f-icon {
  font-size: 2rem;
}

/* finally, import Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";
