.btn-outline-primary {
  border: 1px solid #7510f7;
  color: #7510f7;
}

.btn-outline-primary:hover {
  border: 1px solid #7510f7;
  background-color: #7510f7;
}

.btn-outline-primary:active {
  border: 1px solid #7510f7;
  background-color: #7510f7 !important;
}

.btn-primary {
  border: 1px solid #7510f7;
  background-color: #7510f7;
}

.btn-primary:hover {
  border: 1px solid #7510f7;
  background-color: white;
  color: #7510f7;
}

.btn-primary:active {
  border: 1px solid #7510f7;
  background-color: white !important;
  color: #7510f7;
}

.navbar-brand {
  color: #7510f7 !important;
}

.navbar-brand span {
  color: grey;
}

main p {
  color: grey;
}

#banner-one {
  background-color: #7510f7;
}

#our-products {
  background-color: #7510f7;
}

#our-products a {
  color: #7510f7 !important;
}

#testimonials img {
  width: 10%;
}

.footer-card {
  background-color: #141c3a;
}

#footer {
  background-color: #7510f7;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer ul li {
  display: inline;
  padding: 0 15px;
}

#footer ul li a i {
  font-size: 1.5rem;
}

@media only screen and (min-width: 120px) {
  main img {
    width: 50% !important;
  }
}
