body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/***** HEADER *****/
header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

nav a:nth-child(1) {
  font-weight: bold;
  text-decoration: none;
  color: #7510f7;
  padding: 5px 15px;
}

.logo-span {
  color: #cccccc;
}

nav a:nth-child(2) {
  text-decoration: none;
  color: #7510f7;
  border: 2px solid #7510f7;
  padding: 5px 15px;
  border-radius: 25px;
  transition: 0.3s;
}

nav a:nth-child(2):hover {
  color: white;
  background-color: #7510f7;
  transition: 0.3s;
}

/***** MAIN *****/
main {
  text-align: center;
  padding: 25px 25px;
  height: 50vh;
}

main h1 {
  font-weight: bold;
  margin: 0;
}

main p {
  margin: 0;
  padding-bottom: 25px;
}
/***** ABOUT US *****/
#about-us-wrapper {
  background-color: #7510f7;
  color: white;
  padding: 25px 25px;
  text-align: center;
}

#about-us-wrapper h2 {
  margin: 0;
}

#about-us-wrapper p {
  margin: 0;
}
/***** CARDS *****/
#card-wrapper {
  text-align: center;
}

#card-wrapper i {
  font-size: 8vw;
}

#card-wrapper h5 {
  margin: 0;
}

#card-wrapper h6 {
  color: #7510f7;
  margin: 0;
}

#card-wrapper p {
  margin: 0;
}

.card {
  border: 1px solid lightgrey;
  margin: 20px 40px;
  padding: 40px;
}

/***** OUR WORK *****/
#our-work-wrapper {
  text-align: center;
  padding: 60px 20px;
  border-bottom: 1px solid lightgrey;
}

#our-work-button {
  text-decoration: none;
  color: #7510f7;
  border: 2px solid #7510f7;
  padding: 5px 15px;
  border-radius: 25px;
  margin-top: 25px;
}

/***** COLLABORATIONS WRAPPER *****/
#collab-wrapper {
  text-align: center;
}

/***** PRODUCTS *****/
#products-wrapper {
  text-align: center;
  background-color: #7510f7;
  color: white;
  padding: 60px 20px;
}

.product-card {
  border: 1px solid lightgrey;
  margin: 20px;
  padding: 40px 20px;
  border-radius: 25px;
  background-color: white;
  color: black;
}

.product-card a {
  color: #7510f7;
}

/***** TESTIMONIALS *****/
#testimonials-wrapper {
  text-align: center;
  padding: 60px 20px;
}

/***** FOOTER *****/
footer {
  background-color: #7510f7;
  text-align: center;
  padding: 60px 20px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

#footer-card {
  background-color: #141c3a;
  color: white;
  padding: 40px 20px;
  margin: 20px;
  border-radius: 25px;
}

#footer-card a {
  color: white;
  text-decoration: none;
  border: 2px solid #7510f7;
  padding: 5px 15px;
  border-radius: 25px;
  margin-top: 25px;
}
